


<!-- views/home.handlebars -->
{{#if user}}
    <div class="jumbotron">
        <!--<h1>Orchestrate User Authentication</h1>-->
        <p>Below is your profile information!</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Information</h3>
        </div>

        <div class="panel-body">
            <p>Username: {{user.username}}</p>
            <p>Avatar: <img src="{{user.avatar}}"/></p>
        </div>
    </div>

{{else}}
  <!--this is the home page text box with different signups part! It will take Polymer functions but is sad to do it... -->
    <div vertical layout center-center class="textContainer">
        <h1>Dive Into your next Adventure!</h1>

        <form horizontal layout id="local-sign-in" action="/login" method="post">
            <div>
                <paper-input-decorator id="email" error= "Please enter a valid email address!" floatingLabel label="Email Address">
                    <input name="username" is="core-input" id="usrEmail" type ="text" onblur="validateEmail()" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                </paper-input-decorator>
            </div>

            <div>
                <paper-input-decorator  floatingLabel label="Password">
                    <input is="core-input" id="password" type ="password" name="password" value = "{{password}}">
                </paper-input-decorator>
            </div>

            <div>
                <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
            </div>
        </form>
<!-- will need to make this work for log in on top bar at some point!!-->
        <!--<form id="local-reg" class="collapse" action="/local-reg" method="post">-->
            <!--<div>-->
                <!--<p></p>-->
                <!--<label>New Username:</label>-->
                <!--<input type="text" name="username"/>-->
            <!--</div>-->
            <!--<div>-->
                <!--<label>New Password:</label>-->
                <!--<input type="password" name="password"/>-->
            <!--</div>-->


            <!--<div>-->
                <!--<input type="submit" class="btn btn-primary btn-sm" value="Register"/>-->
            <!--</div>-->
        <!--</form>-->

      <p>
        <!--<a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in Locally</a>-->
        <a href="/auth/twitter" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Twitter</a>
        <a href="/auth/google" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Google</a>
        <a href="/auth/facebook" class="btn btn-primary btn-lg" role="button" onclick="checkFBLogin()"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>

        <!--<fb:login-button data-size="xlarge" data-max-rows="1" scope="public_profile,email,user_friends" onlogin="checkLoginState();">-->
        <!--</fb:login-button>-->
      </p>

        <div id="status"> <!-- need this for sure! it checks if i'm logged in or not and then runs some scripts-->
        </div>

        <!--<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>-->

        <!--<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>-->
    </div>
    <!--<div class="jumbotron">-->
        <!--<div class="textContainter">-->
           <!--<a href="/homepage" class="btn" role="button">-->
               <!--<span class="glyphicon glyphicon-user"></span>-->
               <!--Sign in!-->
           <!--</a>-->
            <!---->
        <!--</div>-->
      <!--</div>-->
        <!--<h1>Orchestrate User Authentication</h1>-->
        <!--<p>Sign in and view your profile!</p>-->
        <!--<p>-->
            <!--<a href="/signin" class="btn btn-primary btn-lg" role="button">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--Sign in!-->
            <!--</a>-->
        <!--</p>-->
    <!--</div>-->

{{/if}}